# Ignore Visual Studio Code files
.vscode

# Ignore PyCharm files
.idea

# Ignore compiled files
*.pyc
*.pyo

# Base folder images
*.jpg
*.gif
*.png
*.bmp
*.svg
*.ico

#Folders
output/*.*
backgrounds/*.*

# Exceptions
!templates/*.*